<!DOCTYPE html>
<html>
    <head>
        <title>{{ sample }}</title>
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/quotes.css"  media="screen,projection"/>
    </head>
    <body>
        {{{body}}}
    </body>
</html>